html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
}

.main-container {
  width: 75%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 5px;
  border-radius: 10px;
  position: relative;
}

.main-container h1 {
  text-align: center;
}

.main-container h2{
  text-align: center;
  color: gray;
}

.text-box {
  margin: 5px auto 25px auto;
  width: 40%;
  border: 2px solid lightseagreen;
}

.messages_container{
  width: 60%;
  margin: 0 auto;
  border: 1px solid lightgray;
  position: relative;
}

.messages_header{
  width: 60%;
  height: 50px;
  margin: 0 auto;
  background: lightgray;
  text-align: center;
  line-height: 50px;
}

.message{
  width: 100%;
  padding: 5px 5px;
  border: 1px solid lightgray;
  position: relative;
}

.time{
  width: 200px;
  height: 30px;
  background: blue;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  position: absolute;
  right: 10px;
  top: calc(50% - 15px);
  padding: 3px 3px;
}

p{
  text-align: left;
  margin: 3px 200px 0 0;
  font-size: 17px;
}
